* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    position: fixed; /* fix apn ne islie diya taki wo hr page p ja sake abolute m wo sirf ek page p rehta */
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}

#image {
    height: 30vw;
    width: 60vw;
    background-color: darkcyan;
    position: relative;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}