* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: gilroy;
    color: wheat;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    overflow: hidden;
}

h1 span {
    display: inline-block;
}
