* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(26, 176, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(3, 67, 88);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 200px;
    width: 200px;
    background-color: rgb(218, 132, 194);
}