* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 20px;
  border: 3px solid #fff;
}

.box {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(to right bottom, rgb(223, 115, 136),crimson);
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, lightblue,cadetblue);
}