@font-face {
  font-family: 'Neue Machina';
  src: url('fonts/NeueMachina-Regular.woff2') format('woff2'),
       url('fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: 400; /* Corresponds to Regular weight */
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}


/* Add more @font-face rules for other weights (Thin, Light, Medium, etc.) as needed */

* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#page1, #page2, #page3 {
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

#move {
    background-color: #D8FF04;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
     will-change: transform;
}

.marque h1 {
    font-size: 4vw;
    font-family: 'Neue Machina', sans-serif;
}

.marque i {
    font-size: 80px;
    line-height: 1;   /* extra space remove */
}