* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: aeonik;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

body {
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8amFwYW58ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;
}

#nav h2 {
    font-size: 30px;
}

#nav i {
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.429);
    top: 0;
    right: -49%;
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}

#full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}