* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

/* #box1 {
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#box2 {
    height: 300px;
    width: 300px;
    background-color: lightseagreen;
}

#box3 {
    height: 300px;
    width: 300px;
    background-color: lightgoldenrodyellow;
}

h1 {
    color: aliceblue;
} */

#nav {
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#part {
    display: flex;
    gap: 50px;
}

#code {
    height: 100vh;
    position: relative;
}

#code h1 {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    white-space: nowrap;
}